# Ignore everything in root folder...
/*
# except explicitly tracked files/directories.
!.gitignore
!README.md
!LICENSE.md
!index.d.ts
!example.js
!example.jpg
!netmaze.js
!hobbithome
!hobbithome.js
# This way I can "install" other servers without including them in the repo.
