# Ignore everything...
*
# except explicitly tracked files.
!.gitignore
!README.md
!LICENSE.md
!index.d.ts
!example.js
!example.jpg
!netmaze.js
# This way I can "install" other servers without including them in the repo.
